body, h3, p{
font-family:'Raleway', sans-serif;
margin:0px;
padding:0px;
}

p{
font-size:20px;
}

#p1{
background-color:#fff;
}

#p3{
background-color:#C8DA2F;
}

#source{
font-family: 'Source Sans Pro', sans-serif;
}

#roboto{
font-family: 'Roboto', sans-serif;
}

#raleway{
font-family: 'Raleway', sans-serif;
}

#colors{
display:inline;
margin:15px;
height:30px;
width:30px;
text-align:center;
top:30%
}

#464646{
background-color:#464646;
}

#76B3DF{
background-color:#76B3DF;
}

#F2F2F0{
background-color:#F2F2F0;
}

#222{
background-color:#222;
}

#C8DA2F{
background-color:#C8DA2F;
}

#IF6EE5{
background-color:#IF6EE5;
}


