body{
background-color: #FFFFFF;
}

h1{
background-color: #FBB829;
color: #FFFFFF;

div.hedfoo{
background-image: url('http://d.pulsir.eu/b/FernandoGarcaaRedondo.jpg');
background-repeat:no-repeat;
}

div.heart{
color: red;
}

div.intro{
background-color: white;
opacity:0.6;
}

div.post{
background-color: white;
opacity:1.0;
}

div.post{
background-color: white;
opacity:1.0;
}
p{
font-family: 'Inika', serif;
}

h3.user{
font-family: 'Inika', serif;
}


span.badge{
font-family: 'Source Sans Pro', sans-serif;
color: #56daeb;
}

h3.plsr{
font-family: 'Source Sans Pro', sans-serif;
}

.circle {
	line-height: 0;		/* remove line-height */ 
	display: inline-block;	/* circle wraps image */
	margin: 7px;
	border-radius: 50%;	/* relative value */
	border: 3px solid white;/* border width   */
	box-shadow: 0px 0px 5px rgba(0,0,0,0.4);	
	transition: linear 0.25s;
}
.circle img {
	border-radius: 50%;	/* relative value for
				   adjustable image size */
}
.circle:hover {
	transition: ease-out 0.3s;
	transform: scale(0.8) rotate(20deg) translateZ(0);
}
a.circle { color: transparent; } /* IE fix: removes blue border */	