
div.heart{
color: red;
}

.circle {
	
        border-radius: 45px;
	transition: linear 0.25s;
}
.circle img {
	 border-radius: 40px;
        width: 80px;
        height: 80px;
        margin: 6px; /* centers the image in the parent element */
}
.circle:hover {
	transition: ease-out 0.3s;
	transform: scale(0.8) rotate(20deg) translateZ(0);
}
a.circle { color: transparent; } /* IE fix: removes blue border */	